# IDEs
.vscode/
.idea/
.continue/

# Secrets
.env
.envrc

# Builds
.bin/

# Python
dist/
__pycache__/
*.egg-info
*.pyc
*.pyo
*.pyd
.venv/

# Coverage
coverage.xml
.coverage
htmlcov/

# Caches
.pytest_cache
.ruff_cache
.mypy_cache

# MacOS
.DS_Store

# AI
.cursor/
